input[type="text"], input [type=file], textarea, #annex{
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top:6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  margin-left: 25%;
  

}

input[type="submit"]{
  background-color: #4caf50;
  color:#ffffff;
  padding: 10px 15px;
  border:none;
  border-radius:4px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:50%;
}

input[type="submit"]:hover{
   background-color:#45a049;
  }

.navbar{
  background-color:#FFFFFF;
  padding-left: 25px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  
}

.containe{
  justify-content: center;
}



.container #text{
  text-align: center;
  padding-top:20px;
  color: #094b65;
  font-size:60px

}

